<!--HTML for the About page-->
<ion-header>   
  <ion-toolbar>     
    <ion-buttons slot="start">       
      <ion-menu-button></ion-menu-button>     
    </ion-buttons>     
    <ion-title>About</ion-title>   
  </ion-toolbar> 
</ion-header> 
 
<ion-content>     
  <ion-list>             
     Hi ! My name is Antonin, I'm from France and I've been studying IT since 2017.
     <br>
     <ul>
       <li>I've worked before in a big IT company so now 
         i would like to see what happens in a startup. 
         So if you are one and you are looking for a motivated
         back-end developper, please feel free to contact me !
         <br>You can find my contact informations in the contact menu.
       </li>
     </ul>   
  </ion-list>   
</ion-content> 
