<ion-header>   
  <ion-toolbar>       
    <ion-buttons slot="start">           
      <ion-menu-button></ion-menu-button>         
    </ion-buttons>     
    <ion-title>       
      Contact     
    </ion-title>   
  </ion-toolbar> 
</ion-header> 
<ion-content>   
  <ion-list>
    <ion-list-header>You will find here ways to contact me if you are interested in my profile</ion-list-header>    
    <ion-item>
      Phone number : +33 7 61 53 81 01
    </ion-item>
    <ion-item href="https://www.linkedin.com/in/antonin-venuti/">
      Linkedin
    </ion-item>
    <ion-item>
      Mail : antonin.vnt@hotmail.com
    </ion-item>
  </ion-list>
</ion-content>
